@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: green;
}
.logo {
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 1px;
    background-color: grey;
    margin-top: 15px;
    margin-bottom: 20px;
    
}
h1{
    background-color: #000000;
    color: white;
    padding: 15px 0;
    font-size: 25px;
}

.menu-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    overflow-x: auto;
    background-color: #f8f8f8;
    border-bottom: 2px solid black;
}

.menu-container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
}

.menu-container img:hover {
    transform: scale(1.1);
}
#ramen-detail {
   margin-top: 20px;
   padding: 20px;
   background-color: white;
   border: 2px solid black;
   display: inline-block;
   text-align: left ;
}

#ramen-detail img{
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

#ramen-detail h2, #ramen-detail h3, #ramen-detail p{
    margin: 10px 0;
}
#ramen-detail input {
   width: 100%;
   padding: 8px;
   margin-top: 5px;
   border: 1px solid black;
   border-radius: 4px;
   font-size: 14px;
}

button{
    padding: 10px;
    margin-top: 15px;
    background-color: black;
    color: #f8f8f8;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
}
button:hover{
    background-color: blue;
}

#delete-ramen{
    background-color: red;
    color: white;
    margin-top: 10px;
}
#delete-ramen:hover {
    background-color: lightcoral;
}
form{
    background-color: white;
    padding: 20px;
    width: 50%;
    margin: 20px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}
form label{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    color: black;
    display: block;
    text-align: left
}

form input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
}

form button{
    padding: 10px;
    margin-top: 15px;
    background-color: black;
    color: #f8f8f8;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: burlywood;
    color: #f8f8f8;
}