body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f8f8f8;
}

h1{
    background-color: #000000;
    color: white;
    padding: 15px;
}

#ramen-menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
    padding: 10px;
    background-color: white;
    /*border: 2px solid black;*/
}

#ramen-menu img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

#ramen-menu img:hover{
    transform: scale(1.1);
}

#ramen-detail{
    background-color: white;
    padding: 1px;
    border: 2px solid black;
    width: 50%;
    margin: 0 auto;
}

#ramen-detail h2, #ramen-detail h3, #ramen-detail p{
    margin: 10px 0;
}

form{
    background-color: white;
    padding: 20px;
    width: 50%;
    margin: 20px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input {
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
}

form button{
    padding: 8px;
    background-color: black;
    color: #f8f8f8;
    border: none;
    cursor: pointer;
    font-size: 16px;
}